:root {
    /*** Custom styles for the lightbox component */
    .lightbox-panel {
        background: transparent;
        box-shadow: none;
        padding: 0;
    }

    .lightbox-backdrop {
        background: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(6px);
    }

    /* container fullscreen */
    body .lightbox {
        position: fixed;
        inset: 0;
        z-index: 9999;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}